services:
  db:
    image: postgres:16
    container_name: library_db
    environment:
      POSTGRES_DB: library
      POSTGRES_USER: library_user
      POSTGRES_PASSWORD: library_pass
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U library_user -d library || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: library_app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/code

volumes:
  postgres_data:
